<!DOCTYPE html>
<html lang="en">
<head>
<meta name=" viewport" content="width=device-width, initial-scale=1.0">
<title> MyWebsite - Pyflask Introduction To Website</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<header class="head">
  <nav>
    <img src="/static/spd logo.png" class="logo">
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="">Works</a></li>
      <li><a href="#">Contacts</a></li>
        
    </ul>
    <div>
      <a href="#" class="login-btn">Log in</a>
      <a href="#" class="btn">Suggestions?</a>
    </div>
  </nav>
</header>
<body>
  <div class="hero">
  <div><img src="/static/spider.jpg" class="bg-pic">
    <br>
    <br>
    <br>
    <div class="content">
      <h1 class="Anim">Calculate<br>Area of Circles</h1>
      <p class="Anim">Calculate the Area of Circle. You will be able to achieve the Area of the circle by only typing the radius of your choice.</p>
      <a href="/AreaOfCircle" class="btn">Calculate Now</a>
      <br>
      <br>
      <img src="/static/Circle.png" class="feature-png Anim">
    </div>
    <br>
    <br>
    <br>
    <div class="content">
      <h1 class="Anim">Calculate<br>Area of Triangle</h1>
      <p class="Anim">Calculate the Area of Triangle. You will be able to achieve the Area of the Triangle by only entering the Base and Height of your choice.</p>
      <a href="/AreaOfTriangle" class="btn">Calculate Now</a>
      <br>
      <br>
      <img src="/static/Triangle.png" class="feature-png Anim">
    </div>
    <br>
    <br>
    <br>
    <div class="content">
      <h1 class="Anim">Convert<br>Lowercase Letters<br> to Uppercase Letters</h1>
      <p class="Anim">Enter words, phrase, sentences or even a whole paragraph. We will convert all of its contents into Uppercase format.</p>
      <a href="/touppercase" class="btn">Convert Now</a>
      <br>
      <br>
    </div>
    
  
  
  </div>
  
    
    
  
</body>